
:root{
    --debug-border: 0px pink solid;
    --global-radius: 10px;
    --global-gap: 20px;
    --global-grey: #f0f0f0;
} 
body {
    background: #f8f9fa;
    /*background: red;*/
    /*background: var(--global-grey);*/
}

.banner {
    height: calc(100vh - 56px - 2*var(--global-gap));
    padding: var(--global-gap) var(--global-gap) 0;
}

.section {
    /*height: 500px;*/
    min-height: 80px;
    padding: 0 var(--global-gap) var(--global-gap);
    z-index: 2;

}
.footer {
    min-height: 100px;
    padding: 0 var(--global-gap) var(--global-gap);
}
.footer p {
    margin: 0;
}

.banner>.row, .footer>.row {
    max-width: 960px;
    /*background: #f0f0f0;*/
    margin: 0px auto;
    height: 100%;
    padding: 20px 15px;
    
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--global-grey);
    color: black;
    background: white;
}

.container-fluid>.row, .container-fluid>nav {
    border: var(--debug-border);
    border-radius: var(--global-radius);
    /*background: transparent;*/
    /*background: white;*/
}

.section>.row {
    
    max-width: 960px;
    margin: 0px auto;
    padding: 1rem;
}
.section.empty>.row {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--global-grey);
}
.row.empty p{
    color: white;
}
.header {
    padding-top: 0px;
}
#header>.row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#header>.row>div:nth-last-child(3) {
    margin: 1rem;
}

#header>#control {
    margin-top: 0.5rem;
    width:200px;
    margin-right: 0;
}

#header>#control>div {
    margin-left:1rem;
}

#contacts {
    padding: 20px;
    margin-bottom: var(--global-gap);
    color: dimgray;
    font-size: 0.9rem;
}

#contacts>div:first-child {
    padding-bottom: 1rem;
    
}
#copyright {
    padding: 20px;
    font-size: small;
}

/*
#title {
    /*padding-top: 15px;*/
/*}
#title>.row:first-child {
    /*border-top: 2px solid black;*//*
    padding-top:1px;
    padding-bottom:1px;

}*/
#header h5.eng {
    font-family: 'Roboto Condensed';
    font-size: 1.6rem;
}
#header h5.chn {
    font-family: 'Noto Sans SC';
    font-size: 1.7rem;
    font-weight: 400;
}

.chn {
    font-family: 'Noto Sans SC';
    font-weight: 200;
    letter-spacing: 0.01em;
    font-size: 1rem;
}
.eng {
    font-family: 'Open Sans';
    font-size: 0.85em;
}

h5>a,p>a {
    text-decoration: underline;
    text-decoration-style: dotted;
    
    color: black;
}
h5>a:hover {
    text-decoration: underline;
    text-underline-position: alphabetic;
    text-decoration-style: wavy; 
    color: dimgrey;
}
#content>.row:first-child {
    padding-top: 0;
}
#content>.row:last-child {
    /*border-bottom: 1px solid black;*/
    padding-bottom: 5rem;

}
.quote {
    font-size: small;
}
.sticky-mark {
    position: -webkit-sticky;
    position: sticky;

    top: 75px;
    margin-top: 0px;
    border-top-width: 2px!important;
    z-index: 5;
}

.navi {
    padding: var(--global-gap);
}

.navi>.row {
    padding: 0 5vw 1px;
}

nav {
    max-width: 960px;
    margin: 0px auto;
    color: black;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    text-align: center;
}

.firstpage {
    display: flex;
    align-items: center;
}
/*----- LIST -----*/

.list-inline {
    padding-left: 0;
    margin: 0;
}

.list-inline>li {
    display: inline-flex;
    align-items: center;
}

.icon-list>li>a {
    color: darkgrey;
    margin: 0 0 0 0.3rem;
    font-size: 1.2rem;
    line-height: 1rem;
}
.icon-list>li>a:hover {
    color: orange;
}

.link-list>li {
    background-color: darkgray;
    text-align: left;
    padding: 0 10px;
    margin: 2px 0px;
    /*margin-right: 0px!important;*/
    border-radius: 2px;
    /*font-size: small;*/
}

.link-list>li:hover {
    background: orange;
}

.link-list i, .link-list a {
   color: white;
}
.tag-list>li {
    background-color: #f0f0f0;
    margin: 2px 0px;
    padding: 0 5px;
    font-size: small;
}

.footer .social-list {
    margin: 1rem auto 1rem;
}

.social-list a {
    font-size: 2rem;
    color: dimgray;
    text-decoration: none;
    margin: 2px 0.5rem;
}

.social-list a:hover {
    color: orange;
}

.header .social-list span {
    font-size: 1rem;
}
.header .social-list a{
    display: block;
    text-align: center;
    justify-content: center;
    
}

/*----- GENERAL -----*/

a:hover {
    cursor: pointer;
}
.hidden {
    display: none;
}

/*----- SWITCH -----*/

.sticky-s>i {
    color: black;
    line-height: 1rem;
    font-size: 1.2rem;
}
.sticky-s.active>i, .sticky-s:hover>i {
    color: orangered;
}
.lang-s {
    color: darkgray;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.lang-s.active {color: black;}
.lang-s:hover {color: orangered;}

.navbar-toggler {
    /* customize own style*/
    border-radius: 5px;
}
.row>div {
    padding: 0!important;
}

.row>div>div {
    padding: 0!important;
}

.hline-t {
    border-top: 1px solid grey;
}

.hline-b {
    border-bottom: 1px solid grey;
}

   
.logo {
    width: 20vw;
    height: 20vh;
    position: relative;
}
.logo>svg {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}



/*----- CARD -----*/

.card-container-outer {           
    /*padding: 5vh 3vw;*/
    border: 0px solid red;
    
    position: relative;
    display: flex;
    align-items: center;
    align-content: space-around;

}

.card-container {
    border: 0px solid black;
    
    position: relative;
    margin: 0 5vw 5vh
}

.card-body {
    border: 0px solid blueviolet;
    
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 4;
    
    background: white;
    border-radius: 15px;
}
.card-body img {
    border: 0px solid aqua;
    border-radius: 15px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-filter: opacity(0.7);
    filter: opacity(0.7);
}
      
.card-note-main {
    position: relative;
    margin: 5px 0 0;
    
    color: black;
    font-size: 1.5rem;
    line-height: 30px;
    font-family: 'Roboto Condensed';
    font-weight:600;
}

.card-note-sub {
    position: relative;
    margin: 0 0 5px;
    
    color: lightgray;
    font-size: 30px;
    line-height: 35px;
    text-align: right;
    font-family: 'Roboto Condensed';
    font-weight: 100;
}

.card-note-side {
    position: absolute;
    top: 50px;
    left: calc(-1rem - 10px);
    padding: 0;
    z-index: 2;
    
    color: black;
    font-size: 1rem;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-family: 'Open Sans';
    font-style: italic;
}

/*
.card-note-side {
    position: absolute;
    top: 55px;
    left: 0;
    padding: 5px 0;
    z-index: 5;
    
    color: white;
    font-size: 1rem;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-family: 'Open Sans';
    
    background-color: grey;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
*/
      
.card-container:hover .overlay {
    opacity: 0.95;
}

.card-container .overlay {
    position: absolute;
    height: 100%;
    width: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*margin: 1rem 0.5rem 1.5rem 0.5rem;*/
    padding: 1rem;
    z-index: 3;
    
    border-radius: 15px;

    opacity: 0;
    transition: .3s ease;
    background: dimgrey;

    color: white;  
    text-align: center;       
    font-size: 0.7rem;
    font-family: 'Open Sans';
    
    cursor: pointer;

}

.overlay h4{
    font-size: 1.25rem;
    margin: 0;
}

.overlay p{
    font-size: 0.75rem;
    margin: 0;
}

.overlay a{
    font-size: 1rem;
    margin: 0 0.2rem;
    color: white;
}

/*----- CARD -----*/

.float-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0px solid red;
    overflow: hidden;
    display: flex;
    z-index: -1;
}

.float-background>span {
    margin: auto;
    font-size: 12vw;
    letter-spacing: 5vw;
    color: #f0f0f0;
    color: white;
    text-shadow: 1px 5px 5px #f0f0f0;
    /*text-shadow: 5px 5px 5px #f0f0f0;*/
    font-family: "Noto Sans SC";
    font-weight: 900;
    
    z-index: -1;
}