
:root {
    --debug-border: 0px pink solid;
    --global-color: hsla(16, 100%, 65.7%, 100%);
} 
body {
    background: var(--global-color);
}

.banner {
    height: calc(100vh - 57px - 1rem);
}

.section {
    /*min-height: 80px;*/
    
}
.footer {
    min-height: 100px;
}
.footer p{
    margin: 0;
    color: white;
}
.copyright {
    font-size: small;
}
.banner>.row, .footer>.row {
    max-width: 960px;
    /*background: #f0f0f0;*/
    margin: 0 auto;
    /*height: 100%;*/
    padding: 15px 5vw;
    color: black;
    border: var(--debug-border);    
}

.section>.row, .navi>.row {

    max-width: 960px;
    margin: 0px auto;
    padding: 15px 5vw 0;
    border: solid gray;
    border-width: 0 1px;
    /*background: #f0f0f0; */
    background: white;
    z-index: 1;
}

.row.empty {
    background: transparent;
}
.row.empty p{
    color: white;
}
.header {
    /*padding-top: 15px;*/
}
.header>.row:first-child {
    /*border-top: 2px solid black;*/
    padding-top:1px;
    padding-bottom:1px;

}
.header h5.eng, #title h5.eng {
    font-family: 'Stint Ultra Condensed';
    font-size: 2.5em;
}
h7 {
    font-family: 'Slabo 27px','Noto Serif SC';
}
.header h5.chn, #title h5.chn {
    font-family: 'Noto Serif SC';
    font-size: 1.5em;
    font-weight: 700;
}

.chn {
    font-family: 'Noto Serif SC';
    font-weight: 200;
    letter-spacing: 0.01em;
}
.eng {
    font-family: 'Slabo 27px';
    font-size: 1.05em;
}

h5>a,p>a {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: black;
}
h5>a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: dimgrey;
    text-underline-position: alphabetic;
}

#content>.row:last-child {
    border-bottom: 1px solid black;
    padding-bottom: 5rem;

}

.sticky-mark {
    position: -webkit-sticky;
    position: sticky;

    padding-bottom: 0px!important;

    top: 75px;
    margin-top: 0px;
    border-top-width: 2px!important;
    z-index: 5;
}
.navi {
    background: var(--global-color);
}

.navi>.row {
    padding: 0 5vw 1px;
}

nav {
    max-width: 960px;
    margin: 0px auto;
    border: solid gray;
    border-width: 1px 1px 0;
    background-color: #f0f0f0;
    color: black;

}

.navbar {
    padding: auto 15px;
    background-color: var(--global-color);
    z-index: 3;
    
}

.navbar-brand {color: rgba(0,0,0,0.5)!important;}
.navbar-nav {
    text-align: center;
}


/*----- LIST -----*/

.list-inline {
    padding-left: 0;
    margin: 0;
}

.list-inline>li {
    display: inline-flex;
    align-items: center;
}

.icon-list>li>a {
    color: darkgrey;
    margin: 0 0.3rem;
    font-size: 1.2rem;
    line-height: 1rem;
}
.icon-list>li>a:hover {
    color: orange;
}

.link-list>li {
    background: darkgray;
    text-decoration: none;
    text-align: left;
    padding: 0 10px;
    margin: 2px 0px;
    /*margin-right: 0px!important;*/
    border-radius: 2px;
    /*font-size: small;*/
}

.link-list>li:hover {
    background: orange;
}
.link-list a{
    color: white;
}
.tag-list>li {
    background-color: #f0f0f0;
    margin: 2px 0px;
    padding: 0 5px;
    font-size: small;
}

.social-list a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin: 0.5rem;
}
.social-list a:hover {
    font-size: 2rem;
    color: orange;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#sticky-switch>i {
    color: black;
    line-height: 1rem;
}
#sticky-switch.active>i, #sticky-switch:hover>i {color: orangered;}
.lang-s {
    color: lightgray;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
.lang-s.active {color: black;}
.lang-s:hover {color: orangered;}


.navbar-toggler {
    /* customize own style*/
    border-radius: 0;
    border: 0px
}

.row>div {
    padding: 0!important;
}
/*
.row>div>div {
    padding: 0!important;
}
*/
.hline-t {
    border-top: 1px solid grey;
}

.hline-b {
    border-bottom: 1px solid grey;
}

.logo {
    width: 20vw;
    height: 20vh;
    position: relative;
}
.logo>svg {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.logo>svg>path {
    /*
    fill-opacity: 0.2;
    fill: white;*/
    stroke: white;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: 21;
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    animation: draw 8s infinite linear;
}

.logo>object {   
    animation: shiftlogo 8s infinite linear; width: 90%;
    height: 90%;
    opacity:1;
}
/* animation */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shiftlogo {
    0% {opacity: 0;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
/* Standard syntax */
@keyframes shiftlogo {
    0% {opacity: 0;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes draw {
    20% {stroke-dashoffset:10px; stroke-opacity:1;}
    40% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:0;}
}

@keyframes draw {
    20% {stroke-dashoffset:10px; stroke-opacity:1;}
    40% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:0;}
}


/* pallette */
#hue, #sat, #lig {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
#swatch {
    width: 100px;
    height: 100px;
    background-image: none;
    margin: 15px;
}
#hue .ui-slider-range { background: #ef2929; }
#hue .ui-slider-handle { border-color: #ef2929; }
#sat .ui-slider-range { background: #8ae234; }
#sat .ui-slider-handle { border-color: #8ae234; }
#lig .ui-slider-range { background: #729fcf; }
#lig .ui-slider-handle { border-color: #729fcf; }

.hidden {
    display: none;
}

/* ----- SQUARE CARD ----- */


.square-container-outer {
    border: 0px solid blue;
}

.square-container {
    position: relative;
    width: 100%;
    /*padding-top: 50%;*/

    display: flex;
}

.square-container.bar-left,
.square-container.bar-right {
    padding-top: 50%;
}

.square-container.bar-top,
.square-container.bar-buttom {
    padding-top: 200%;
}

.square-container>.square-body {
    position: absolute;
    /*height: 100%;
    width: 50%;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.square-container.bar-left>.square-body {
    height: 100%;
    width: 50%;
    margin: 0 0 0 auto;
}
.square-container.bar-right>.square-body {
    height: 100%;
    width: 50%;
    margin: 0 auto 0 0;
}

.square-container.bar-top>.square-body {
    height: 50%;
    width: 100%;
    margin: auto 0 0 0;
}
.square-container.bar-buttom>.square-body {
    height: 50%;
    width: 100%;
    margin: 0 0 auto 0;
}

.square-container.bar-left .overlay {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    text-align: right;
    padding: 1rem;
}
.square-container.bar-right .overlay {
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    text-align: left;
    padding: 1rem;
}

.square-container.bar-top .overlay {
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
}
.square-container.bar-buttom .overlay {
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
}

.square-container .overlay {
    border: 0px solid grey;
    
    position: absolute;
    height: 100%;
    width: 100%;
    /*
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    */
    /*margin: 1rem 0.5rem 1.5rem 0.5rem;*/
    z-index: 2;

    opacity: 1;
    transition: .5s ease;
    background: rgba(138,43,226,0.7);
    background: #f0f0f0;
    

    cursor: pointer;

}


.square-container .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    border: 0px solid red;
    
}

.square-container .card-note-main {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    color: white;
    background-color: blueviolet;
    margin: 0;
    padding: 0 5px;
    opacity: 0;
}

.square-container:hover .card-note-main {
    opacity: 1;
}

.square-container .card-note-sub {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    visibility: hidden; 
}

.square-container .card-note-side {
    position: absolute;
    padding: 0 5px;
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    opacity: 1;
    visibility: hidden;

}

.square-container-outer:hover {
    opacity: 0.5;
}
.overlay h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    padding: 0;
}
.overlay p {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}

/* */
.mycard-content {
    display: flex;
    align-items: center; 
    border: 0px solid black;
}

.mycard-text {
    width: 100%;
    padding: 1rem;   
}
.portfolio>.row:nth-child(odd) .mycard-text {
    border-right: 10px solid coral;
    text-align: right;
}

.portfolio>.row:nth-child(even) .mycard-text {
    border-left: 10px solid coral;
    text-align: left;
}



.mycard-text p {
    font-family: 'Slabo 27px','Noto Serif SC';
    margin: 0;
    color: dimgray;
}
.mycard-text h4 {
    font-family: 'Stint Ultra Condensed';
    font-size: 2.5rem;
    margin: 1rem 0;
    line-height: 2.5rem;
}
.mycard-img {
    border: 1px solid black;
}
.mycard-img>div {
    width:100%;
    padding-top: 60%;
}

.mycard-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.portfolio:nth-child(odd) .mycard-text {
    text-align: right;
}
.portfolio:nth-child(even) .mycard-text {
    text-align: left;
}